.App {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
  background-color: yellow;
}
body {
  background-color: orange;
}
h1 {
  padding-top: 30px;
}
input {
  width: 40%;
  height: 2rem;
}
.meaning {
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
}
.emojis {
  padding: 0px 2.5px 2.5px 0px;
  font-size: 40px;
  cursor: pointer;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 10%; /* explanation below */
  margin: 15px;
}
